/*-------------------------------- Element Selectors --------------------------------*/
body {
    background-color: gainsboro;
    /* Use a system font, if none are available use an available sans-sarif */
    font-family: system-ui, sans-serif;
    text-align: center;
    margin: 0;
    padding-top: 30px;
    background-image: url('../images/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    user-select: none;
}

h1 {
    color: #2b7072;
}

/*-------------------------------- Class Selectors --------------------------------*/
.board {
    display: flex;
    flex-wrap: wrap;
    width: 325px;
    margin: 20px auto;
}

.sideColumn {
    position: absolute;
    width: 20%;
    border: 3px solid #51bdc0;
    border-radius: 20px;
    background-color: white;
    margin: 30px 50px 50px 50px;
    left: 90px;
    box-shadow: 0px 0px 10px #51bdc0;
}

/* ------------------------------------------ */
.sqr {
    width: 30%;
    aspect-ratio: 1/1;
    border: 3px solid #51bdc0;
    border-radius: 60px;
    font-size: 64px;
    text-align: center;
    box-shadow: 0px 0px 10px rgb(81, 189, 192);
}

.sqr:hover {
    background-color: rgba(81, 189, 192, 0.5);
    cursor: pointer;
}

.sqr:active {
    background-color: rgba(81, 189, 192, 1);
}
/* ------------------------------------------ */


button .label{
    font-size: 25px;
    color: #2b7072;
    font-weight: bold;
}

/*-------------------------------- Dynamic Class Selectors --------------------------------*/
.winningCombo {
    background-color: rgb(67, 175, 46);
}

.animate {
    animation: 0.5s ease-in-out 0s infinite alternate rotationAnimation;
}

/*-------------------------------- ID Selectors --------------------------------*/
#message {
    color: #2b7072;
   
    animation: 1s ease-in-out 0s infinite alternate zoomAnimation;
}

/* ------------------------------------------ */
#reset {
    position: absolute;
    width: 10%;
    aspect-ratio: 1/1;
    border: 3px solid #51bdc0;
    border-radius: 50%;
    background-color: white;
    margin: 10px 50px 50px 50px;
    right: 150px; 
    top: 170px;
    padding-top: 15px;
    font-size: 50px;
    box-shadow: 0px 0px 10px #51bdc0;
    line-height: 2rem;
    cursor: pointer;
}

#reset:hover {
    background-color: rgba(81, 189, 192, 0.5);
    cursor: pointer;
}

#reset:active {
    background-color: rgba(81, 189, 192, 1);
}
/* ------------------------------------------ */



/*-------------------------------- CSS keyframes rule --------------------------------*/
@keyframes rotationAnimation {
    from {
      transform: rotateZ(-25deg);
    }
    to {
      transform: rotateZ(25deg);
    }
  }

  @keyframes zoomAnimation {
    from {
        transform: scale(1);
      }
      to {
        transform: scale(1.1);
      }
  }

  /*-------------------------------- References --------------------------------
  1- https://developer.mozilla.org/en-US/docs/Web/API/CSSKeyframesRule 
  2- https://developer.mozilla.org/en-US/docs/Web/CSS/animation
  */